{% extends "layout.html" %}
{% block body %}
<!-- page content -->
<div class="row tile_count">
  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Daily Positive Sentiment </span>
    <div class="count">{{open_positive_tweets_count}}</div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> Daily Negative Sentiment </span>
    <div class="count">{{open_negative_tweets_count}}</div>
    <!--  <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span> -->
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Tweet Velocity</span>
    <div class="count">{{tweet_velocity}}</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i> per hour </span>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Positive Sentiment Assets<small></small></h2><br>
        <h4>DOW</h4>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
<thead>
  <tr>
    <th>Date Received</th>
    <th>Target</th>
    <th>Raw Text</th>
    <th>ID</th>
  </tr>
</thead>
<tbody>
  {% for tweets in positive_tweets %}
  <tr>
    {% for item in tweets %}
    {% if forloop.counter < 4 %}
    {% if forloop.counter == 2 %}
    <!-- For hyperlinked screenname to screenname page-->
    <td><a href = 'profile/?{{item}}'>{{item}} </a>
    </td>
    {% elif forloop.counter == 3 %}
    <!-- For tweet reply page -->
    <td><a href = 'profile/?{{tweets.1}}?{{tweets.3}}'> {{item}} </a> 
      <form action = "/misclassified_api" method = "post" target="_blank">
        <input type="hidden" name="tweet_id" value="{{tweets.3}}" />
        <button type="submit", formmethod="post">Wrong</button>
      </form>
    </td>
    {% else %}
    <td> {{item}} </td>
    {% endif %}
    {% endif %}    
    {% endfor %}
    {% endfor %}

  </tbody>
</table>

</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Negative Sentiment Assets<small></small></h2><br>
      <h4>JNK, UNH, market_general</h4>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <table id="datatable-fixed-header" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Date Received</th>
          <th>Target</th>
          <th>Raw Text</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for tweets in negative_tweets %}
        <tr>
          {% for item in tweets %}
          {% if forloop.counter < 5 %}
          {% if forloop.counter == 2 %}
          <!-- For hyperlinked screenname to screenname page-->
          <td><a href = 'profile/?{{item}}'>{{item}} </a> 
          </td>
          {% elif forloop.counter == 3 %}
          <!-- For hyperlinked tweet to tweet page-->
          <td><a href = 'profile/?{{tweets.1}}?{{tweets.4}}'>{{item}} </a> 
            <form action = "/misclassified_api" method = "post" target="_blank">
              <input type="hidden" name="tweet_id" value="{{tweets.4}}" />
              <button type="submit", formmethod="post">Wrong</button>
            </form>
          </td>
          {% else %}
          <td> {{item}} </td>
          {% endif %}   
          {% endif %}
          {% endfor %}
                            <!--
                            <td>
                              <form action = "/autoreply_api" method = "post" target="_blank">
                                <input type="hidden" name="tweet_id" value="{{tweets.4}}" />
                                <input type="hidden" name="all" value="" />
                                <button type="submit", formmethod="post">AUTO</button>
                              </form>
                            </td>
                          -->
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Word Clouds <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">


                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Daily</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Weekly</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Monthly</a>
                            </li>
                          </ul>
                          <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab" style="text-align:center;">
                              <img src="/static/wordclouds/daily.png">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab" style="text-align:center;">
                              <img src="/static/wordclouds/daily.png">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab" style="text-align:center;">
                              <img src="/static/wordclouds/daily.png">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class = "row">
                  <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Topic Modelling <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">


                        <div class="other" role="tabpanel" data-example-id="togglable-tabs">
                          <ul id="myTab2" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content11" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Daily</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content12" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Weekly</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content13" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Monthly</a>
                            </li>
                          </ul>
                          <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab" style="height:600px">
                              <iframe src="/static/ldatopics/daily.html" style="border:none;height:100%;width:100%;" ></iframe>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content12" aria-labelledby="profile-tab" style="height:600px">
                              <iframe src="/static/ldatopics/weekly.html" style="border:none;height:100%;width:100%;" ></iframe>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content13" aria-labelledby="profile-tab" style="height:600px">
                             <iframe src="/static/ldatopics/monthly.html" style="border:none;height:100%;width:100%;" ></iframe>
                           </div>
                         </div>
                       </div>

                     </div>
                   </div>
                 </div>
               </div>

               <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Irrelevant Tweets<small>Accuracy: 96.2%</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>


                    <div class="x_content">
                     <table id="datatable" class="table table-striped table-bordered">
                       <!--   <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"> -->
                        <thead>
                          <tr>
                            <th>Date Received</th>
                            <th>Screenname</th>
                            <th>Tweet</th>
                            <th> Positive </th>
                            <th> Negative </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for tweets in irrelevant_tweets %}
                          <tr>
                            {% for item in tweets %}
                            {% if forloop.counter <= 3 %}
                            {% if forloop.counter == 2 %}
                            <!-- For hyperlinked screenname to screenname page-->
                            <td><a href = 'profile/?{{item}}'>{{item}} </a> </td>
                            {% else %}
                            <td> {{item}} </td>
                            {% endif %} 
                            {% endif %} 
                            {% endfor %}
                            <td>
                              <form action = "/misclassified_api" method = "post" target="_blank">
                                <input type="hidden" name="tweet_id" value="{tweets.3}}" />
                                <input type="hidden" name="correct" value="positive" />
                                <button type="submit", formmethod="post">Positive</button>
                              </form>
                            </td>
                            <td>
                              <form action = "/misclassified_api" method = "post" target="_blank">
                               <input type="hidden" name="tweet_id" value="{{tweets.3}}" />
                               <input type="hidden" name="correct" value="negative" />
                               <button type="submit", formmethod="post">Negative</button>
                             </form></td>
                           </tr>
                           {% endfor %}

                         </tbody>
                       </table>


                     </div>
                   </div>
                 </div>

               </div>


               {% endblock %}
